.page-header {
  border-bottom: 1px solid var(--border-color);
  background-color: var(--white-color);
}

.header-container,
.site-nav,
.nav-list,
.contacts-list {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 76px;
}

.header-logo span {
  color: var(--dark-color);
}

.nav-list {
  column-gap: 40px;
}

.nav-link {
  position: relative;
  display: block;
  padding: 24px 0;
  color: var(--dark-color);
  font-weight: 500;
  line-height: 1.5;
  transition-property: color;
  transition-duration: var(--transition-speed);
  transition-timing-function: var(--transition-function);
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: var(--pressed-color);
}

.nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-color);
}

.contacts {
  margin-left: auto;
  font-style: normal;
}

.contacts-list {
  column-gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  color: var(--text-color);
  transition-property: color;
  transition-duration: var(--transition-speed);
  transition-timing-function: var(--transition-function);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--pressed-color);
}
